<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link href="/css/bootstrap_overide.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
        <script src="js/pocus-cache.js"></script>
    </head>
    <body>
        <!-- Start of Login Canvas -->
        <div class="offcanvas" tabindex="-1" id="offcanvasLogin" aria-labelledby="offcanvasLoginLabel">
          <div class="login-canvas" id="login-canvas">  
            <form class="login-menu-container" id="login-form" action ="">
              <div class="login-username">
                <label for="usernameInput" class="form-label pocus-form-title">Username</label>
                <input class="form-control me-2" type="text" placeholder="Username" aria-label="Username" id="usernameInput" onkeydown="return event.key != 'Enter';" autocomplete="username">
              </div>
              <div class="login-password">
                <label for="passwordInput" class="form-label pocus-form-title">Password</label>
                <input class="form-control current-password" type="password" id="passwordInput" aria-label="Password" placeholder="Password" onkeydown="return event.key != 'Enter';" autocomplete="current-password">
              </div>
              <div class="login-submit">
                <button type="submit" class="btn btn-outline-light">Sign In</button>
              </div>
            </form>
          </div>
        </div>
        <!-- End of Login Canvas -->

        <!-- Start of Navbar -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Hocus Pocus</a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu">
                                <li><div class="dropdown-title">Desktop Computer's</div></li>
                                <li><a class="dropdown-item" href="/browse?platform=Desktop&sub=Case">Case's</a></li>
                                <li><a class="dropdown-item" href="/browse?platform=Desktop&sub=CPU">CPU's</a></li>
                                <li><a class="dropdown-item" href="/browse?platform=Desktop&sub=GPU">Graphics Cards</a></li>
                                <li><a class="dropdown-item" href="/browse?platform=Desktop&sub=Monitor">Monitor's</a></li>
                                <li><a class="dropdown-item" href="/browse?platform=Desktop&sub=Motherboard">Motherboard's</a></li>
                                <li><a class="dropdown-item" href="/browse?platform=Desktop&sub=PSU">Powersupply's</a></li>
                                <li><a class="dropdown-item" href="/browse?platform=Desktop&sub=Ram">Ram</a></li>
                                <li><a class="dropdown-item" href="/browse?platform=Desktop&sub=SSD">SSD's</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><div class="dropdown-title">Laptop's</div></li>
                                <li><a class="dropdown-item" href="/browse?platform=Laptop&sub=Ram">Ram</a></li>
                                <li><a class="dropdown-item" href="/browse?platform=Laptop&sub=SSD">SSD's</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><div class="dropdown-title">Other</div></li>
                                <li><a class="dropdown-item" href="/browse?platform=Other&sub=Cable">Cable's</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                      <input class="form-control me-2" type="search" name="inputBox" placeholder="Search" aria-label="Search" onkeydown="return event.key != 'Enter';">
                      <button class="btn btn-outline-success" type="button" onclick="Search(this.form)">Search</button>
                    </form>
                    <div class="search-buffer-space"></div>
                    <!-- Displayed if no user session is found -->
                    <div class="text-end signin-menu" id="signin-menu">
                      <a type="button" class="btn btn-outline-light me-2" data-bs-toggle="offcanvas" href="#offcanvasLogin">Login</a>
                      <button type="button" class="btn btn-warning disabled">Sign-up</button>
                    </div>
                    <!-- Displayed if user session is found -->
                    <div class="dropdown text-end user-control-menu" id="user-control-menu">
                      <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                      </a>
                      <ul class="dropdown-menu dropdown-menu-end text-small">
                        <li><a class="dropdown-item" data-bs-toggle="offcanvas" href="#pocusCart" role="button">Cart</a></li>
                        <li><a class="dropdown-item" data-bs-toggle="offcanvas" href="#settingsMenu" role="button">Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                      </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- End of Navbar -->

        <!-- Start of Offcanvas Cart menu -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="pocusCart" aria-labelledby="offcanvasExampleLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Cart</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div>
              View, Modify, or Remove shopping cart items
            </div>
            <div class="cart-item-container" id="cart-item-container">
              <div class="cart-item">temp</div>
              <div class="cart-item">temp</div>
            </div>
            <div class="dropdown mt-3">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                Options
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Remove all items</a></li>
                <li><a class="dropdown-item" href="#">Preview Items</a></li>
                <li><a class="dropdown-item" href="#">Apply Coupon</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End of Offcanvas Cart menu -->
        <!-- Start of Offcanvas settings menu -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="settingsMenu" aria-labelledby="settingsPane">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="settingsPane">Settings</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div>
              View, Modify, or Remove shopping cart items
            </div>
            <div class="dropdown mt-3">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                Dropdown button
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End of Offcanvas settings menu -->

        <!-- Start of Page Content -->
        <section class="contentContainer">
          <!-- Start of Breadcrumb Bar -->
          <div class="breadcrumb-container">
              <div class="container my-5">
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb breadcrumb-chevron p-3 breadcrumb-pocus rounded-3" id="category-list">
                          <li class="breadcrumb-item">
                              <a class="link-body-emphasis" href="/">
                                  Home
                              </a>
                          </li>
                          <li class="breadcrumb-item">
                              <a class="link-body-emphasis text-decoration-none" href="#" id="category"></a>
                          </li>
                          <li class="breadcrumb-item">
                              <a class="link-body-emphasis text-decoration-none" href="#" id="subcategory"></a>
                          </li>
                      </ol>
                  </nav>
              </div>
          </div>
          <!-- End of Breadcrumb Bar -->
          <!-- Product View -->
          <div class="item-container" id="item-container"><!-- Auto Generated, check view.js for more details --></div>          
        </section>
        <!-- End of Page Content -->

        <!-- Start of Footer -->
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <p class="col-md-4 mb-0 text-body-secondary">&copy; 2023 Hocus Pocus, Inc</p>
      
          <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          </a>
      
          <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
          </ul>
        </footer>
        <!-- End of Footer -->
        <!-- Start of Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <script src="js/page-controls.js"></script>
        <script src="js/view.js"></script>
        <!-- End of Scripts -->
    </body>
</html>