.content {
    height: 100%;
    width: 99vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featured-items-container {
    width: 80%;
    margin-top: 1.5rem;
    background-color: #4266470c;
    border-radius: 0.375rem;;
}

.featured-item {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.three-column-container {
    height: 800px;
    width: 80%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    width: 32%;
    height: 100%;
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second_column {
    margin-left: auto;
    margin-right: auto;
}

.reminder-container {
    width: 80%;
}

.breadcrumb-pocus {
    background-color: rgba(34, 87, 122, .1)!important;
}

.breadcrumb-container {
    width: 80%;
}

.product-list {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; 
    align-items: flex-start;    
}

.product-list-title {
    width: 70%;
    height: 4rem;
    font-weight: 500;
    font-size:1.25em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    margin-bottom: 1rem;
}

.product-list-item {
    width: 400px;
    height: 500px;
    margin-bottom: 1rem;
    margin-right: 1rem;
    /* border: 1px solid #333; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-item-image {
    width: 100%;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid black; */
}

.product-details {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-detail-title {
    width: 100%;
    height: 50px;
    font-weight: 500;
    font-size: .8vw;
    padding-left: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.product-detail-price {
    width: 100%;
    height: 25px;
    font-weight: 500;
    padding-left: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.product-detail-description {
    width: 100%;
    height: 150px;
    padding-left: 1.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.product-list-item div > a {
    text-decoration: none;
    color: #333;
}

.featured-item-link {
    text-decoration: none;
    color: #333;
}

.item-container {
    width: 60%;
    height: 900px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 30% 20% 20% 20%;
}

.item-image {
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1 / span 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-description {
    width: 100%;
    height: 100%;
    grid-column: 1 / span 2;
    grid-row: 3 / span 5;
    padding: 0.5rem;
}

.item-details {
    width: 100%;
    height: 100%;    
    grid-column: 2;
    grid-row: 2;
    padding: 0.5rem;
}

.item-title {
    width: 100%;
    height: 100%;    
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    font-size: 1.5rem;
}

.search-buffer-space {
    width: 1rem;
    height: 100%;
}