/* Adds space inpbetween navbar options before sign-in */
.search-buffer-space {
    width: 1rem;
    height: 100%;
}

/* index.js/index.html contains HTML code that utilizes following styling */
.contentContainer {
    height: 100%;
    width: 99vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carouselContainer {
    width: 55%;
    margin-top: 2.5rem;
    background-color: #4266470c;
    border-radius: 0.375rem;;
}

.carousel-inner-item {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.carousel-inner-item-link {
    text-decoration: none;
    color: #333;
}

.reminder-container {
    width: 80%;
}

.breadcrumb-container {
    width: 80%;
}

.breadcrumb-pocus {
    background-color: rgba(34, 87, 122, .1)!important;
}



/* browse.js/browse.html creates HTML code that utilizes following styling*/
.item-container {
    width: 60%;
    height: 600px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 30% 20% 20% 20%;
}

.item-image {
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1 / span 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-description {
    width: 100%;
    height: 100%;
    grid-column: 1 / span 2;
    grid-row: 3 / span 5;
    padding: 0.5rem;
}

.item-details {
    width: 100%;
    height: 100%;    
    grid-column: 2;
    grid-row: 2;
    padding: 0.5rem;
}

.item-title {
    width: 100%;
    height: 100%;    
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    font-size: 1.5rem;
}


/* view.js/view.html creates HTML code that utilizes following styling */
.product-list {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; 
    align-items: flex-start;    
}

.product-list-title {
    width: 60%;
    height: 4rem;
    font-weight: 500;
    font-size:1.25em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    margin-bottom: 1rem;
}

.product-list-item {
    width: 400px;
    height: 500px;
    margin-bottom: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-item-image {
    width: 100%;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-details {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-detail-title {
    width: 100%;
    height: 50px;
    font-weight: 500;
    font-size: .8vw;
    padding-left: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.product-detail-price {
    width: 100%;
    height: 25px;
    font-weight: 500;
    padding-left: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.product-detail-description {
    width: 100%;
    height: 150px;
    padding-left: 1.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.product-list-item div > a {
    text-decoration: none;
    color: #333;
}

/* Login Canvas */
.login-canvas {
    width: 500px;
    height: 400px;
    opacity: 1;
    top: 10%;
    left: 38%;
    position: fixed;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
}

.login-menu-container {
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-username {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.login-password {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.login-submit {
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.pocus-form-title {
    padding-left: .5rem;
}

.user-control-menu, .signin-menu {
    display: none;
}